@import '../reset';
.main-title {
	font-size: 24px;
	font-weight:bold;
	line-height: 42px;
}
.container {
	padding: 10px;
}

.sub-content {
	padding: 10px 0;
}
.sub-title {
	font-size: 14px;
	font-weight:bold;
	line-height: 30px;
}

.sub-paragraph {
		font-size: 16px;
		line-height: 24px;
		padding:6px 0;
}

.item-list {
	line-height: 24px;
	font-size: 16px;
	padding:6px 0;
}

.last-modify {
	font-size: 16px;
	font-weight: bold;
	margin-top: 16px;
}

