@import '../reset';
.container {
	padding: 10px;
}

.main-title {
	font-size: 16px;
	font-weight:bold;
	line-height: 42px;
	color: #333;
}

.content {
	font-size: 12px;

	.anthor {
		text-align: justify;
		&:after {
			content: '';	
			display: inline-block;
			height: 0;
			width: 100%;
		}
		.anthor-one {
			display: inline-block;
		}
		.anthor-two {
			display: inline-block;	
		}
	}
	
	.info {
		color: #777;
		line-height: 20px;	
	}

	.item-list {
		padding-left: 20px;
	}

	.item {
		color: #888;
		list-style: inherit;	
		font-size: 12px;
		line-height: 20px;
		margin-top: 10px;
	}
}


.last-modify {
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	color: #333;
}

