<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<link rel='stylesheet' href='css/regulation.css' />
	</head>
	<body>
		<div class='container'>
			<h1 class='main-title'>安心代驾服务条款</h1>

			<div class='sub-content'>
				<h2 class='sub-title'>欢迎使用 安心代驾！</h2>
				<p class='sub-paragraph'>感谢您使用我们的产品和服务（下称“服务”）。服务由 上星传媒有限公司（下称“上星传媒”）提供。</p>
				<p class='sub-paragraph'>您使用我们的服务即表示您已同意本条款。请仔细阅读。</p>
			</div>

			<div class='sub-content'>
				<h2 class='sub-title'>使用服务</h2>
				<p class='sub-paragraph'>您必须遵守服务中提供的所有政策。</p>
				<p class='sub-paragraph'>使用我们的服务并不让您拥有我们的服务或您所访问的内容的任何知识产权。除非您获得相关内容所有者的许可或通过其他方式获得法律的许可，否则您不得使用服务中的任何内容。本条款并未授予您使用我们服务中所用的任何商标或标志的权利。请勿删除、隐藏或更改我们服务上显示的或随服务一同显示的任何法律声明。</p>
				<p class='sub-paragraph'>我们的服务会显示一些不属于上星传媒的内容。这些内容由发布的实体承担全部责任。我们可能会审查相关内容，以确定其是否违法或违反了我们的政策；如果我们有理由相信该内容违反了我们的政策或违法，我们可以将其删除或拒绝显示。不过，这并不意味我们必然会审查内容，因此请勿想当然地认为我们在进行审查。</p>
				<p class='sub-paragraph'>在您使用服务的过程中，我们可能会向您发送服务公告、管理消息和其他信息。您可以选择不接收上述某些信息。</p>
			</div>

			<div class='sub-content'>
				<h2 class='sub-title'>隐私与版权保护</h2>
				<p class='sub-paragraph'>您在使用我们的服务时，我们会保护您的个人数据和隐私。使用我们的服务即表示您同意我们使用您的个人数据。我们会根据中国《数字千年版权法》规定的流程，对涉嫌侵犯版权的通知作出回应并终止屡次侵权人的帐户。</p>
				<p class='sub-paragraph'>我们会向版权持有人提供信息，以帮助他们在线管理自己的知识产权。如果您认为有人侵犯了您的版权并希望通知我们。</p>
			</div>

			<div>
				<h2 class='sub-title'>您在我们服务中发布的内容</h2>
				<p class='sub-paragraph'>我们的服务允许您提交内容。您保留对该内容持有的任何知识产权的所有权。简言之，属于您的依然还是您的。</p>
				<p class='sub-paragraph'>当您上传内容或通过其他方式向我们的服务提交内容时，您授予我们（以及我们的合作伙伴）一项全球性的许可，允许 我们使用、持有、存储、复制、修改、创建衍生作品（例如，我们为了使您的内容更好地与我们的服务配合使用而进行翻译、改编或其他更改，由此所产生的作品）、传播、出版、公开演示、公开展示和分发此类内容。您在此许可中授予的权限，仅能用于运营、宣传和改进我们的服务，以及开发新的服务。该项许可在您停止使用我们的服务后依然有效。如果您提交关于我们的服务的反馈或建议，我们可能会加以利用，但不对您承担任何义务。</p>
			</div>

			<div class='sub-content'>
				<h2 class='sub-title'>保证和免责声明</h2>
				<p class='sub-paragraph'>我们在提供服务时将会尽到商业上合理水平的技能和注意义务，希望您会喜欢使用它们。但有些关于服务的事项恕我们无法作出承诺。</p>
				<dl class='item-list'>
					<dt>使用我们的服务即表示同意以下几点：</dt>
					<dd>1.您同意我们将您直通车账户内某个推广计划下的所有数据进行清除。</dd>
					<dd>2.使用我方服务期间，如果您擅自修改托管的推广计划下任何内容而造成的损失，我们概不负责。</dd>
					<dd>3.我方严格按照您设定的日限额以及平均点击出价进行推广，对推广效果不做任何承诺。</dd>
				</dl>
			</div>

			<small class='last-modify'>最后修订日期： 2013年8月1日</small>
		</div>
	</body>
</html>
