<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<link rel='stylesheet' href='css/regulation.css' />
	</head>
	<body>
		<div class='container'>
			<h1 class='main-title'>安师傅代驾服务协议</h1>

			<div class='content'>
				<div class='anthor'>
					<span class='anthor-one'>甲方：委托方（前页签字人）</span>
					<span class='anthor-two'>乙方：上海安师傅汽车驾驶服务有限公司宁波分公司</span>
				</div>
				<p class='info'>在代驾服务出发前，客户签字即确认了解本次限务收费标准及安师傅代驾有关最新政策，并承诺依提收费标向安师傅代驾支付服务费用。</p>
				<ol class='item-list'>
					<li class='item'>
						<p class='item-content'>甲方必须提供车况良好，证照齐全，有合法使用权，年检有效（包括有效的环保标志），有全保险的车辆(至少投保了交强险、车损险、三者险三项车验的客户）。甲方车辆必须是车长小于6米，乘坐人数小于等于9人的C1驾照准驾车辆。对军车、无牌照车辆、肇事逃逸车辆、车内有违禁品、乙方代理驾驶员可以拒绝本次代驾服务。如甲方未投保三项车险的，乙方代理驾驶员在代驾过程中发生意外造成甲方损失，乙方不承担赔偿责任。如因代驾过程中违章或发生交交通事故给甲方造成损失的（包括财产和人身），根据交通管理部门的事故认定责任结果，乙方仅承担被代驾车辆有责部分的差额赔偿，即遵循先由交强险赔偿。再由车辆商业险赔偿的原则。如果以上两方面赔偿后仍有损失余额，则由乙方赔偿。商业险标准为车辆损失险、30万元第三者责任险、每座（含驾驶员）2万元的车上人员贵任险及各险种不计免赔险。如亊故中非代驾车辆负主要责任或以上责任的，则乙方不负责损失赔偿。如因没有有效的环保标志而引起的罚款与扣分，由甲方承担赔偿责任。</p>
					</li>
					<li class='item'>
						<p class='item-content'>若甲方为意识不消醒、醉酒的客户，则必须有清醒同伴的陪同，陪同人员应在服务协议上签字方可提供服务。陪同人员所签署的协议视为甲方事人的意思表示，具有等同于甲方当亊人一样的权利与义务。否则乙方代理驾驶员有权利拒绝本次代驾服务。</p>
					</li>
					<li class='item'>
						<p class='item-content'>车辆出发前，甲方有义务配合乙方代理驾驶员了解车况及操作规程以及车辆原有破损情况。如因甲方车况不良而引发的车辆损坏，乙方不承担赔偿责任。代驾服务结束时，乙方需配合甲方检査车辆是否完好并提醒甲方带好贵重物品，服务结束，甲方结清相应服务费后即视为确认本次服务过程中没有发生车辆损坏及物品丟失等情况。</p>
					</li>
					<li class='item'>
						<p class='item-content'>甲方有责任妥善保管好车内及随身财物，以免发生不必要的法律纠纷，乙方则必须要求代理驾驶员不得接触甲方车内及随身财物。如甲方在乙方代理驾驶员提供服务过程中发现物品丢失，应马上联系乙方代驾事故处理中心4-001-002-003或抜打110由公安机关解决。</p>
					</li>
					<li class='item'>
						<p class='item-content'>乙方代理驾驶员应按约定时间把甲方连人带车送到指定地点，到达指定地点后甲方确认无异议、车辆财物无任何损失后，需一次性结清乙方服务费，乙方代理驾驶员交还甲方车辆钥匙。</p>
					</li>
					<li class='item'>
						<p class='item-content'>甲方不得要求乙方代理驾驶员违规驾驶，不得干扰乙方代理驾驶员驾驶。如甲方提出违法、违规或其它无理要求，乙方代理驾驶员有权拒绝服务并及时通知乙方代驾客服中心请示处理办法。</p>
					</li>
					<li class='item'>
						<p class='item-content'>因不可抗括的自然灾害（地震、海啸、洪水、山体滑坡）以及战争导致不能准时到达目的地或造成伤亡和损失的，乙方不承担任何赔偿责任。</p>
					</li>
					<li class='item'>
						<p class='item-content'>如发生绕道情况时，甲方可先和乙方代理驾驶员协商解决，协商不成可现场抜打乙方代驾客服中心电话进行投诉，由客服中心人员确认并解决。</p>
					</li>
				</ol>
			</div>

			<div class='last-modify'>
				<small>本协议最终解释权归上海安师傳汽车驾被服务有限公司所有</small>
			</div>
		</div>
	</body>
</html>
