<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8' />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<link rel='stylesheet' href='css/valuation.css' />
	</head>

	<body>
		<div class='container'>

			<div class='table-wrapper'>
				<table class='table'>
					<colgroup>
						<col class='col1' >
						<col class='col2' >
					</colgroup>
					<thead class='thead'>
						<tr class='thead-tr'>
							<th class='thead-th thead-timer'>工作时间</th>
							<th class='thead-th'>起步价(8公里以内)</th>
						</tr>
					</thead>
					<tbody class='tbody'>
						<tr class='tbody-tr'>
							<td class='tbody-timer tbody-td'>07:00--21:59</td>
							<td class='tbody-price tbody-td'>35元</td>
						</tr>
						<tr class='tbody-tr'>
							<td class='tbody-timer tbody-td'>22:00--06:59</td>
							<td class='tbody-price tbody-td'>55元</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class='regulation'>
				<section class='regulation-section'>
					<h2 class='regulation-sub-title'><b class='symbol'>&#10084;</b>起步价</h2>
					<p class='regulation-sub-content'>费用已实际开始时间为准</p>
				</section>
				<section class='regulation-section'>
					<h2 class='regulation-sub-title'><b class='symbol'>&#10084;</b>里程费</h2>
					<p class='regulation-sub-content'>代驾距离超过8公里以后。每公里收4.6元，不知一公里按一公里计算</p>
				</section>
				<section class='regulation-section'>
					<h2 class='regulation-sub-title'><b class='symbol'>&#10084;</b>等候费</h2>
					<p class='regulation-sub-content'>代理驾驶员到达接车地点后至完成代驾任务，累计等候30分钟内免费，等候满30分钟后加收20元，以后等候3分钟加收2元</p>
				</section>
			</div>
		</div>
	</body>

</html>
